header {
  width: 100%;
  min-height: 30px;
  background: -webkit-linear-gradient(white, #F4F4F4); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, #F4F4F4); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, #F4F4F4); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, #F4F4F4); /* Standard syntax */
}

.header-content {
  padding-top: 4px;
}

nav {
  clear: both;
}

li {
  display: inline;
}

.navbar {
  margin-top: 15px;
  margin-bottom: 10px;
}

.navbar-default {
  border-color: white;
}

.account-dropdown {
  margin-top: -4px;
  border: none;
  background-color: transparent;
  font-size: 9pt;
}

.navbar-default .navbar-brand {
  font-family: 'Playfair Display SC', serif;
  font-size: 33pt;
  color: black;
  position: relative;
  bottom: 10px;
}

.navbar-default .navbar-nav > li > a {
  font-family: 'Arial', sans-serif;
  font-weight: 500;
  font-size: 10pt;
  color: black;
}

.navbar-default .navbar-nav > li > a:hover {
  color: blue;
}


.btn-bag-icon {
  margin-left: 14px;
}

.btn-bag-items {
  font-size: 8pt;
  padding-bottom: 7px;
  background-color: #EBEBEB;
}

.carousel {
  width: 100%;
  height: 400px;
  background-color: #F4F4F4;
}

.thumbnails {
  text-align: center;
}

.row > div {
  margin-top: 15px;
}

.thumbnails .row > div > p {
  color: #858585;
}

.btn-info {
  color: white;
  background-color: black;
  width: 75%;
  padding: 0px 12px;
  font-weight: bold;
  font-size: 10pt;
  border-color: black;
}

.image-placeholder {
  background-color: #F4F4F4;
  height: 180px;
  width: 100%;
}

.promotion-bar {
  color: white;
  background-color: #FF6800;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 8pt;
  font-weight: bold;
  text-align: center;
  height: 30px;
  padding-top: 7px;
}

.spacer {
  width: 100%;
  height: 300px;
  background-color: #F4F4F4;
  margin: 20px 0px 10px 0px;
}


footer {
  margin-bottom: 20px;
}

.footer-label {
  font-weight: bold;
  font-size: 13px;
}

.footer-link {
  color: #525151;
  line-height: .6em;
  font-size: 9pt;
}

.btn-connect {
  height: 34px;
  background-color: #FF5E00;
  font-weight: bold;
  color: white;
  width: 50px;
}

.footer-icons {
  padding-top: 12px;
}

.footer-icons img {
  margin-right: 10%;
}

.like-banner {
  width: 100%;
  margin-top: 13px;
  padding: 25px;
  background-color: #F4F4F4;
  text-align: center;
  font-weight: bold;
  font-size: 16pt;
}

.like-banner a {
  color: #FF5E00;
}

.slick-img img {
  margin: auto;
}

.carousel-arrow {
  width: 43px;
  position: absolute;
  top: 168px;
  z-index: 1;
}

.carousel-arrow:hover {
  width: 45;
  cursor: hand;
}

.arrow-right {
  right: 45px;
}

.arrow-left {
  left: 45px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
